[submodule "nextgraph-rs"]
	path = nextgraph-rs
	url = https://git.nextgraph.org/rixed/nextgraph-rs.git
  url = git@git.nextgraph.org:rixed/nextgraph-rs.git
	branch = main
[submodule "async-tungstenite"]
	path = async-tungstenite
	url = git@git.nextgraph.org:rixed/async-tungstenite.git
	branch = nextgraph
[submodule "rust-rocksdb"]
	path = rust-rocksdb
	url = git@git.nextgraph.org:rixed/rust-rocksdb.git
	branch = master
[submodule "nextgraph-refine-app"]
	path = nextgraph-refine-app
	url = git@github.com:reconnexion/nextgraph-refine-app.git
	branch = master
